{% extends "base.html" %}

{% block content %}
 

  <div class = "container">
    <br/>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.Image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <center>
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            {% if product.is_sale %}
            <div class="d-flex justify-content-center small text-warning mb-2">
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
              <div class="bi-star-fill"></div>
          </div>
          <!-- Product price-->
          <strike>Rs {{ product.price}}</strike>
            &nbsp;
             Rs{{ product.sale_price}}
            {% else %}
            Rs {{ product.price}}
            <br/>ID:{{product.id}}

            {% endif %}
             <br/>
            <a href = "{%  url 'home'%}" class = 'btn btn-secondary'>home</a>
            <button  type = "button"  value = "{{product.id}}"  class = 'btn btn-secondary' id = "add-cart">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/> <br/><br/>  <br/><br/>   
  <br/><br/>   <br/><br/>   <br/><br/>  
  <br/><br/>  
  <script>
   $(document).on('click','#add-cart',function(e){
        e.preventDefault();
        $.ajax({
          type : 'POST',
          url : '{% url "cart_add" %}',
          data : {
            product_id: $('#add-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
          },
          success: function(json){
              //console.log(json)
              document.getElementById("cart_quantity").textContent = json.qty
          },
          error :function(xhr,errmsg,err){

          }
        });
       

   })

  </script>
{% endblock %} 